<?xml version="1.0"?>
<robot name="small_cube">
  <link name="small_cube">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/small_cube.obj" scale="1 1 1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/small_cube.obj" scale="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.035"/>
      <density value="280.0"/>
      <inertia ixx="5.83333333e-5" ixy="0.0" ixz="0.0" iyy="5.83333333e-5" iyz="0.0" izz="5.83333333e-5"/>
    </inertial>
  </link>
</robot>